<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{SignIn.title}"></title>
<th:block th:insert="header" />
<meta charset="UTF-8">
<script>
	!function(f, b, e, v, n, t, s) {
		if (f.fbq)
			return;
		n = f.fbq = function() {
			n.callMethod ? n.callMethod.apply(n, arguments) : n.queue
					.push(arguments)
		};
		if (!f._fbq)
			f._fbq = n;
		n.push = n;
		n.loaded = !0;
		n.version = '2.0';
		n.queue = [];
		t = b.createElement(e);
		t.async = !0;
		t.src = v;
		s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '2808232485854284');
	fbq('track', 'PageView');

	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start' : new Date().getTime(),
			event : 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l='
				+ l
				: '';
		j.async = true;
		j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-KXMJ6FX');

	!function(e, t, n, s, u, a) {
		e.twq || (s = e.twq = function() {
				s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
			}, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
			a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
	}(window, document, 'script');
	twq('init', 'o6sr0');
	twq('track', 'PageView');
</script>
<style type="text/css">
.sfLogo {
	margin-top: 20px;
	margin-left: 20px;
}
</style>
</head>
<body>
	<noscript>
		<img height="1" width="1" style="display: none"
			src="https://www.facebook.com/tr?id=2808232485854284&ev=PageView&noscript=1" />
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXMJ6FX"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<div class="sfLogo">
		<a class="navbar-brand" href="#"><img
			style="width: 200px; height: 40px;"
			src="/static/img/new-logo-transparent.png"></a>
	</div>
	<div class="container-fluid clearfix">
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<section class="form-light">
					<!--Body-->
					<!-- Tab panels -->
					<div class="tab-content">
						<!--Panel 1-->
						<th:block th:if="${isFree} != 'true'" th:insert="SignInPanel" />
						<!--/.Panel 1-->
						<!--Panel 2-->
						<th:block th:insert="SignUpPanel" />
						<!--/.Panel 2-->
					</div>
					<!--/Form without header-->
				</section>
				<!--Section: Live preview-->
			</div>
		</div>
	</div>
	<th:block th:insert="ForgotPassword" />
	<th:block th:insert="footer" />
	<th:block th:insert="TermsAndCondition" />
	<script type="text/javascript" src="/static/js/moment.min.js"></script>
	<script type="text/javascript"
		th:src="@{/static/js/moment-timezone.min.js}"></script>
	<script th:inline="javascript">
		var isFree=/*[[${isFree}]]*/;
		var subscriptionId=/*[[${subscriptionId}]]*/;
	</script>
	<script type="text/javascript" th:src="@{/static/script/home.js}"></script>
</body>
</html>