.mdb-select {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #bdbdbd;
	border-radius: 0;
	outline: 0;
	min-height: 2.1rem;
	width: 100%;
	font-size: 1rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.mdb-select:active {
	border-bottom: 1px solid #d3b5e5;
	-webkit-box-shadow: 0 1px 0 0 #d3b5e5;
	box-shadow: 0 1px 0 0 #d3b5e5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #d3b5e5;
}

::-webkit-scrollbar-thumb {
	background-color: #d3b5e5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #E4E4E4;
}

body {
	scrollbar-face-color: #d3b5e5;
	scrollbar-3dlight-color: #d3b5e5;
	scrollbar-highlight-color: #d3b5e5;
	scrollbar-track-color: #E4E4E4;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #d3b5e5;
	scrollbar-dark-shadow-color: #d3b5e5;
}

input, textarea, select {
	padding: 0 !important;
}

.field-icon {
	cursor: pointer !important;
	position: absolute !important;
	z-index: 3;
	font-size: 18px;
	top: 20%;
	right: 0%;
	color: rgb(159, 159, 159);
}

.field-icon svg {
	color: rgb(159, 159, 159);
}

.field-icon svg:hover {
	color: rgb(132, 132, 132);
}

.field-icon svg:active {
	color: rgb(100, 100, 100);
}

form input:focus:invalid {
	box-shadow: 0 1px 0 0 red !important;
	border-bottom: 1px solid #dc3545 !important;
}

form [type=checkbox]:focus:invalid+label:before, form [type=radio]:focus:invalid+label:before
	{
	border: 1.5px solid #dc3545 !important;
}

.needs-validation.was-validated  [type=checkbox]:invalid+label:before,
	.needs-validation.was-validated  [type=radio]:invalid+label:before {
	border: 1.5px solid #dc3545 !important;
}

.dataTables_length select {
	width: 50% !important;
	font-size: 14px;
}

.explore-gradient {
	width: 100% !important;
	height: 30% !important;
	top: 0;
	position: fixed;
	z-index: 5 !important;
	background: rgba(255, 255, 255, 0.9);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
		rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255,
		255, 0.9)), color-stop(85%, rgba(255, 255, 255, 0.75)),
		color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
		rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
		rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
		rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%,
		rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ffffff', GradientType=0);
	z-index: 5;
	z-index: 5 !important
}

.search-more {
	width: 10rem !important;
}

.search-more.no-more {
	opacity: .65;
	pointer-events: none !important;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16), 0 0 10px 0 rgba(0, 0, 0, .12);
	border: 2px solid #616161 !important;
	background-color: transparent !important;
	color: #616161 !important;
}

.show-more, .show-more div, .show-more span, .no-more, .no-more label {
	display: block !important;
}

.no-more label {
	color: initial;
}

.show-more span {
	position: relative;
	top: -6px;
	height: 6px;
}

.carousel .carousel-indicators li {
	border: #17a2b8 1px solid !important;
}

.carousel .carousel-indicators li.active {
	background-color: #17a2b8 !important;
}

#contents .carousel {
	padding-bottom: 8%;
	min-height: 430px;
}

.carousel-control-prev, .carousel-control-next {
	padding-bottom: 8%;
}

.carousel-loader {
	width: 100% !important;
	position: absolute !important;
	height: 430px !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background: #17a2b8;
	color: #fff;
	font-size: xx-large;
	opacity: .65;
	left: 0;
}

.left, .right {
	width: 48%;
}

.right {
	float: right;
}

.tooltip-main.tooltip {
	opacity: 1;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.slider {
	width: 100% !important;
}

.slider-left {
	text-align: right;
	padding-right: 12px;
}

.slider-right {
	padding-left: 12px;
}

.slider-handle {
	background-color: #17a2b8 !important;
	background-image: linear-gradient(to bottom, #17a2b8 0, #2d8290 100%)
		!important;
	background-image: -webkit-linear-gradient(top, #17a2b8 0, #2d8290 100%)
		!important;
	background-image: -o-linear-gradient(top, #17a2b8 0, #2d8290 100%)
		!important;
}

.slider-label {
	position: absolute;
	left: 2.5%;
	top: -4rem;
}

.slider-track-low, .slider-track-high {
	background: #00000010 !important;
}

.slider-selection {
	background-image: -webkit-linear-gradient(top, #737373 0, #f1f1f1 100%)
		!important;
	background-image: -o-linear-gradient(top, #737373 0, #f1f1f1 100%)
		!important;
	background-image: linear-gradient(to bottom, #737373 0, #f1f1f1 100%)
		!important;
}